body{
  margin:0;
  font-family:Arial;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#3f0ce4;
  padding:10px 20px;
}

.navbar h2{
  color:white;
}

.navbar ul{
  list-style:none;
  display:flex;
}

.navbar ul li{
  margin:0 10px;
}

.navbar ul li a{
  text-decoration:none;
  color:white;
  font-weight:bold;
}

.navbar ul li a:hover{
  color:yellow;
}

div{
  padding:20px;
}